$primary: #2B7BB9;
$secondary: #FEF15B;
$gnme-gray: #373739;

@import url('https://fonts.googleapis.com/css?family=Raleway');
$headings-font-family: 'Raleway', sans-serif;

@import "node_modules/bootstrap/scss/bootstrap";

.top-nav {
  margin-top: 20px;
  .links {
    padding: 30px;
    a {
      padding-left: 2em;
    }
    a:link, a:visited {
      color: $body-color;
    }
    a:hover, a:active {
      color: $primary;
      text-decoration: none;
    }
  }
  img {
    height: 70px;
  }

  margin-bottom: 2em;
}

footer {
  padding: 2em 0 1em;
  font-size: $font-size-sm;
  color: $gray-300;
  background-color: $gnme-gray;
  text-align: center;

  a {
    color: $secondary;
  }
  a:hover, a:active {
    color: $secondary;
  }
}

.container img {
  max-width: 100%;
}

img.logo {
  height: 40px;
  width: 40px;
}

article {
  .meta {
    font-size: .8em;
    margin-bottom: 1em;
  }
  .body {

  }
}

.member-list {
  a {
    display: block;
  }

  padding-bottom: 3em;
}

.news-title {
  a {
    color: $primary;
    &:hover {
      text-decoration: none;
      color: lighten($primary, 20);
    }
  }
}
.news-details {
  .date {
    color: $gray-700;
    font-size: 0.8rem;
    font-style: italic;
  }
  .event-date {
    color: $gray-900;
    font-weight: bold;
    font-size: 0.8rem;
    font-style: italic;
  }
}

.twitter-timeline {
  display: none;
}
