$primary: #2B7BB9;
$secondary: #FEF15B;
$gnme-gray: #373739;

@import url('https://fonts.googleapis.com/css?family=Raleway');
$headings-font-family: 'Raleway', sans-serif;

@import "node_modules/bootstrap/scss/bootstrap";
$fa-font-path: "../fonts";
@import "node_modules/font-awesome/scss/font-awesome";

.top-nav {
  max-width: 100%;
  .logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 3px;

    img {
      height: 70px;
      width: 70px;
    }
  }
  .links {
    padding: 2em 0;
    a {
      padding: 1rem;
      font-size: 0.9rem;
    }
    a:link, a:visited {
      color: $body-color;
    }
    a:hover, a:active {
      color: $primary;
      text-decoration: none;
    }
  }

  .popup-container {
    display: inline-block;
    position: relative;
  }

  .popup {
    position: absolute;
    background-color: $white;
    min-width: 12rem;
    z-index: 1000;
    box-shadow: 1px 1px 3px $gray-700;
    a {
      display: block;
      padding: .7rem 1rem;
    }
  }

  @include media-breakpoint-up(md) {
    .container {
      display: flex;
      justify-content: space-between;
    }
    .logo {
      margin: 0;
      display: inline-block;
    }
    margin-top: 20px;

    .links {
      a {
      }
    }

    margin-bottom: 2em;
  }
}

footer {
  padding: 2em 0 1em;
  font-size: $font-size-sm;
  color: $gray-300;
  background-color: $gnme-gray;
  text-align: center;

  a {
    color: $secondary;
  }
  a:hover, a:active {
    color: $secondary;
  }
}

.container img {
  max-width: 100%;
}

img.logo {
  height: 40px;
  width: 40px;
}

article {
  .meta {
    font-size: .8em;
    margin-bottom: 1em;
  }
  .body {

  }
}

.member-list {
  a {
    display: block;
  }

  padding-bottom: 3em;
}

.news-title {
  a {
    color: $primary;
    &:hover {
      text-decoration: none;
      color: lighten($primary, 20);
    }
  }
}
.news-details {
  .date {
    color: $gray-700;
    font-size: 0.8rem;
    font-style: italic;
  }
  .event-date {
    color: $gray-900;
    font-weight: bold;
    font-size: 0.8rem;
    font-style: italic;
  }
}

.twitter-timeline {
  display: none;
}
